* {
    box-sizing: border-box;
    background-color: whitesmoke;
}

body {
    width: 300px;
    margin: auto;
    overflow: auto;
    height: 600px;
    margin-top: 30px;

}
header {
    background: lightgray;
    border: 2px solid black;
    margin-bottom: 3px;
    border-radius: 8px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    background: lightgray;
    font-size: 25px;
    margin-left: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    background: lightgray;
    text-align: center;
}

div > a {
    background: black; 
    font: white;
    padding-left:8px;
    padding-right: 8px;
    padding-top: 3px;
}

nav {
    display: flex;
    flex-direction: column;
}

#top-side {
    display: flex;
    flex-direction: row;
    width: 296px;
    justify-content: space-between;
    background: lightseagreen;
}

#bottom-side {
    display: flex;
    flex-direction: row;
    width: 296px;
    justify-content: space-between;
    background: lightskyblue;
}

a {
    font-size: 22px;
    text-decoration: none;
    color: white;
    line-height: 32px;
}

main {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 1.1;
    
}

img {
    border-radius: 10%;
}

#my-face {
    transform: scale(.6,.6) rotate(355deg);
    max-width: 200px;
    max-height: 200px;
    margin-left: -60px;
    margin-top: 20px;
    position: fixed;
    z-index: 2;
}
input {
    border-radius: 46%;
    background: black
}
#logo {
    transform: scale(.7,.7) rotate(15deg);
    margin-top: 0px;
    margin-left: 119px;
    position: fixed;
    z-index: 1;
    background: none;
}

@media screen and (min-width: 700px) {
    body {
        width: 700px;
    }

    h1 {
        text-align: right;
        font-size: 36px;
        margin-right: 170px;
    }

    header {
        width: 650px;
        margin: 3.5%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: lightblue;
    }

    #top-side {
        width: 219px;

    }

    #bottom-side {
        width: 309px;
    }

    main {
        display: flex;
        flex-direction: row;
        width: 800px;
        margin: auto;
    }

    img {
        border-radius: 10%;
    }

    #my-face {
        border-radius: 10%;
        transform: rotate(355deg);
        max-width: 300px;
        max-height: 300px;
        margin-left: 20px;
        margin-top: 40px;
    }
    
    #logo {
        transform: scale(1,1) rotate(15deg);
        margin-top: 50px;
        margin-left: 410px;
        position: flex;
    }
}


@media screen and (max-height: 650px) {
  

    #my-face {
        transform: scale(.6,.6) rotate(355deg);
        margin-top: 0px;
    }
}
/*next-tallest*/
@media screen and (max-height: 570px) {
    #my-face {
        transform: scale(.6,.6) rotate(355deg);
        margin-top: -20px;
    }
    #logo {
        transform: scale(.75,.75) rotate(15deg);
        margin-top: -14px;
    }
}
/*next-shortest*/
@media screen and (max-height: 477px) {
    #my-face {
        transform: scale(.5,.5) rotate(355deg);
        margin-top: -30px;
        margin-left: 30px;
    }
    #logo {
        transform: scale(.75,.75) rotate(15deg);
        margin-top: -35px;
        margin-left: 390px;
    }
}
/*shortest*/
@media screen and (max-height: 412px) {
    body {
        margin-top: 10px;
    }
    #my-face {
        display: none;
    }
    
    #logo {
        display: none;
    }

    h2 {
        margin-bottom: 60px;
        margin-top: 60px;
    }
}
