* {
    box-sizing: border-box;
    background-color: rgb(220, 223, 219);
}

body {
    width: 300px;
    margin: auto;
}
header {
    background: white;
    border: 2px solid black;
    margin-bottom: 3px;
    border-radius: 8px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    background: white;
    font-size: 25px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    background: white;
    text-align: center;
}

div > a {
    background: black; 
    font: white;
}

nav {
    display: flex;
    flex-direction: column;
}

#top-side {
    display: flex;
    flex-direction: row;
    width: 296px;
    justify-content: space-between;
    background: white;
}

#bottom-side {
    display: flex;
    flex-direction: row;
    width: 296px;
    justify-content: space-between;
    background: white;
}

a {
    font-size: 22px;
    text-decoration: none;
    color: white;
    line-height: 32px;
}

main {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 1.1;
    
}

#my-face {
    transform: scale(.05,.05) rotate(85deg);
    max-width: 200px;
    max-height: 200px;
    margin-left: 40px;
    margin-top: -40px;
    position: fixed;
    z-index: 2;
}

#logo {
    transform: scale(.7,.7) rotate(15deg);
    margin-top: 27px;
    margin-left: 119px;
    position: fixed;
    z-index: 1;
}

@media screen and (min-width: 700px) {
    body {
        width: 700px;
    }
    header {
        width: 650px;
        margin: 3.5%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: white;
    }

    #top-side {
        width: 219px;

    }

    #bottom-side {
        width: 309px;
    }

    main {
        display: flex;
        flex-direction: row;
        width: 800px;
        margin: auto;
    }

    #my-face {
        transform: scale(.1,.1) rotate(85deg);
        max-width: 300px;
        max-height: 300px;
        margin-left: 170px;
        margin-top: -100px;
    }
    
    #logo {
        transform: scale(1,1) rotate(15deg);
        margin-top: 50px;
        margin-left: 410px;
        position: flex;
    }
}

